
body h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  text-decoration: underline;
  font-size: 360%;
  color: rgb(82, 27, 6);

}

body h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 270%;
  font-style: italic;
  color: rgb(82, 27, 6);


}
body p{
  font-size: 170%;
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-group{
  font-size: 150%;

}

.genderq{
  font-size: 150%;

}

body {

  background-image: url("/images/kidsLoads.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.backgroundChill{
  color: black;
}
.container {
  position: absolute;
  right: 0;
  margin: 0;
  max-width: 600px;
  padding: 16px;
  background-color: rgba(83, 122, 69, 0.896);
}
input[type=number] {
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}
.buttonq {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn:hover {
  opacity: 1;
}
footer p {
  font-size: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.885);
}